{% for support in site.data.accessibility-support %}
{% include excol.html type="start" id="optional-id" %}
{{ support.name }}
{% if support.link%}
{% include resource-link.html label="Official name"
    href="{{support.link}}"%}
{% endif %}
{% include excol.html type="middle" %}
{% for option in support.options %}
<div class="radio-field">
    <input type="checkbox" id="offer-{{ option.id }}" name="offer-{{ option.id }}">
    <label for="offer-{{ option.id }}">{{ option.name }}</label>
</div>
{% endfor %}
{% include excol.html type="end" %}
{% endfor %}

<div class="radio-field">
    <input type="checkbox" name="offer-other-accessibility-support" id="offer-other-accessibility-support">
    <label for="offer-other-accessibility-support">Other</label>
</div>  
<div>
    <label for="offer-new-accessibility-support" class="visuallyhidden">Other</label>
    <input type="text" id="offer-new-accessibility-support">
</div>