{% for support in site.data.accessibility-support %}

{% if support.link %}
<h3><a href="{{support.link}}" rel="external">{{support.name}}</a></h3>
{% else %}
<h3>{{ support.name }}</h3>
{% endif %} 

{% for option in support.options %}
<div class="radio-field accessibility-support">
{% include excol.html type="start" id="optional-id" %}
<input type="checkbox" id="offer-accessibility-support-{{ option.id }}" name="offer-accessibility-support-{{ option.id }}">
<label for="offer-accessibility-support-{{ option.id }}">{{ option.name }}</label>
{% include excol.html type="middle" %}
<p><em>{{option.description}}</em></p> 
{% include excol.html type="end" %}
</div>

{% endfor %}

{% endfor %}

<div class="radio-field">
    <input type="radio" name="offer-other-accessibility-support" id="offer-other-accessibility-support">
    <label for="offer-other-accessibility-support">Other</label>
</div>  
<div>
    <label for="offer-new-accessibility-support" class="visuallyhidden">Other</label>
    <input type="text" id="offer-new-accessibility-support">
</div>