{% capture offer_title %}<a href="{{ offer.offer_link }}">{{ offer.name }}</a> by {{ offer.provider }}{% endcapture %}


{% include box.html type="start" title=offer_title id=offer.id h="3" %}
{{ offer.description }}

{% include excol.html type="start" id="one" %}
#### Details
{% include excol.html type="middle" %}
{% include box.html type="start" class="highlighted" %}

Offer type
: {{ offer.offer_type }}

Audience
: {{ offer.audience | join: ", " }}

{% include box.html type="end" %}
{% include excol.html type="end" %}
{% include box.html type="end" %}