{% for filter in site.data.filters %}
            
<fieldset id="{{ filter.id }}">
  <legend>{{ filter.name }}</legend>
  {% for option in filter.options %}
  <div class="radio-field">
      <input type="radio" id="offer-{{ option.id }}" name="offer-{{ option.id }}">
      <label for="offer-{{ option.id }}">{{ option.name }}</label>
  </div>

  {% endfor %}
</fieldset>
{% endfor %}
