<!-- <legend>WAI Curricula module</legend>

{% for curricula in site.data.wai-curricula %}
{% capture pname %}.{{ curricula.id }}{% endcapture %}
    {% include showhidebutton.html showtext=curricula.name hidetext=curricula.name 
        target=pname %}
    <div class="{{ curricula.id }}">
        {% for modules in curricula.modules %}
        <div class="radio-field">
            <input type="checkbox" id="offer-{{ modules.id }}" name="offer-{{ modules.id }}">
            <label for="offer-{{ modules.id }}">{{ modules.name }}</label>
        </div>
        {% endfor %}
    </div>
{% endfor %}

<div class="radio-field">
    <input type="checkbox" id="offer-{{ modules.id }}" name="offer-{{ modules.id }}">
    <label for="offer-{{ modules.id }}">{{ modules.name }}</label>
</div>
        
 -->



<legend>WAI Curricula module</legend>


{% for curricula in site.data.wai-curricula %}
{% include excol.html type="start" id=curricula.id %}
{{ curricula.name }}
{% capture curricula_details_id %}details_{{curricula.id}}{% endcapture %}
{% include excol.html type="middle" id=curricula_details_id%}
    {% for modules in curricula.modules %}
        <a href="{{ modules.link}}" rel="external">{{ modules.id }} - {{ modules.name }}</a>
    {% endfor %}
{% include excol.html type="end" %}
{% endfor %}