<legend>WAI Curricula module</legend>

{% for curricula in site.data.wai-curricula %}
{% include excol.html type="start" id="optional-id" %}

{{ curricula.name }} <a href="{{curricula.link}}" class="more-info">
    <span class="visuallyhidden">More information about {{curricula.name}}</span>
    <span aria-hidden="true" class="more-info__icon">
     {% include icons/info.svg %}
    </span>
  </a>

{% include excol.html type="middle" %}

{% for modules in curricula.modules %}
<div class="radio-field">
    <input type="checkbox" id="offer-{{ modules.id }}" name="offer-{{ modules.id }}">
    <label for="offer-{{ modules.id }}">{{ modules.name }}</label>
</div>

{% endfor %}

{% include excol.html type="end" %}

{% endfor %}